.logo{
    width:600px;
    height:150px;
}



.A{
    display:flex ;
    justify-content: center;
}



.pay_logo  {
    width:80px;
    height:70px;
    margin-right: 40px;
  
}



.pLogo{
    display:flex;
    justify-content: center;
}



body{
   
  background-image: url("imageL/background.jpg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  align-items: center;
}



#currency{
    width: 300px;
    border-radius: 12px; 
    padding: 10px;
    box-shadow: 0 5px 9px 0 rgba(22, 21, 21, 0.2), 0 10px 25px 0 rgba(22, 21, 21, 0.19);
    background-color:rgba(119, 118, 115, 0);
}

#currency:hover {
    border-color: #e2f109; 
   
}


#Hotel{
    width: 300px;
    border-radius: 12px; 
    padding: 10px;
    box-shadow: 0 5px 9px 0 rgba(34, 34, 32, 0.2), 0 10px 25px 0 rgba(22, 21, 21, 0.19);
    background-color:rgba(116, 114, 110, 0);

}


#Hotel:hover {
    border-color: #e2f109; 
    
}


.B {
    background-color:rgba(105, 104, 101, 0.575);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    padding: 30px;
    width: 600px;
    height: 390px;
    box-shadow: 0 5px 9px 0 rgba(22, 21, 21, 0.2), 0 10px 25px 0 rgba(22, 21, 21, 0.19);
   
}

.C{
    color: #f1e9e9;
}



button{
    box-shadow: 0 5px 9px 0 rgba(22, 21, 21, 0.2), 0 10px 25px 0 rgba(22, 21, 21, 0.19);
    border-radius: 12px;
    background-color: #b1980c;
    padding: 10px 10px;

}
  


button:hover{
    border-color:#e2f109; 
    
}



.btn{
    justify-content: center;
    display:flex;

}



h1{
    display:flex; 
    font-family:Georgia;
    justify-content: center;
    color: rgb(230, 204, 60);
    
}


lable{
    margin-right: 50px;
    margin-left : 50px;
    color: #f8f8f7;

}



label{
    margin-right: 68px ;
    margin-left: 50px;
    color: #f7f6f6;
 }

 a{
    color: #3210ca;
 }
 
 a:hover{
    color: #7a82f5;
 }
 
  
 
 